.row {
  display: flex;
  justify-content: space-between;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  min-width: 400px;
  min-height: 150px;
  cursor: pointer;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dateFromNow {
  font-size: 12px;
}
